html, body {
    max-height:1500px;
    max-width:1920px;
    min-height: 700px;
    min-width:1200px;
    background:grey;
}

.RuleForm{
    width: 400px;
}

.panel{
    border: 2px solid black;
    height: 800px; 
    background:white;
    overflow-y:scroll;
}

#CtrlForm label{
    text-align: left;
}

.panel-body .panel{
    border: 2px solid black;
    height: 400px; 
    background:white;
    overflow-y:scroll;
}

.navLogo{
    height:100%;
}
.navbar-brand{
    padding:0;
}
.navContainer{
    width:90%;
}


#sim .panel{
    margin: 40px;
    overflow-y:hidden;
}

