<div class="panel-body">
    <div data-ng-repeat="node in Nodes">
        <label class="page-header">Node: {{node.NodeID}}</label>
        <div class="panel">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>Lux</th>
                            <th>Motion</th>
                            <th>Temperature</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in node.node">
                            <td> {{item.Date}}</td>
                            <td>{{item.lux}}</td>
                            <td>{{item.motion}}</td>
                            <td>{{item.temp}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>      
    </div>   
</div>

