<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>AngularJS practice</title>

    <script src="src/scripts/bootstrap.js"></script>

</head>
<body>
    <ul id="myTab" class="nav nav-tabs">
        <li class="nav active"><a href="#/Home" data-toggle="tab">Home</a></li>
        <li class="nav"><a href="#/Rules" data-toggle="tab">Rules Engine</a></li>
        <li class="nav"><a href="#/SimHouse" data-toggle="tab">Simulated House</a></li>
    </ul>


    <div ng-view></div>

    <!--Required Scripts-->
    <script src="src/scripts/angular.js"></script>
    <!--<script src="src/scripts/bootstrap.js"></script>-->
    <script src="src/scripts/angular-route.min.js"></script>
    <!--Custom Scripts-->
    <script src="src/app/scripts/Module/app.js"></script>
    <script src="src/app/scripts/Config/config.js"></script>
    <script src="src/app/scripts/Controllers/mainPage.js"></script>
    <script src="src/app/scripts/Controllers/createNew.js"></script>
</body>
</html>
